body,
html {
  height: 100%;
}

.mainBox {
  color: white;
  border-radius: 15px;
}

#header {
  font-size: 6rem;
  color: yellow;
  padding-bottom: 3rem;
  font-family: "Bangers", cursive;
}

.bg {
  background-image: url("../images/clouds.jpeg");
  min-height: 100%;
  max-height: 150%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cityInput {
  width: 12rem;
  height: 2.5rem;
  margin-left: 4px;
}

#searchBtn {
  margin-bottom: 3px;
  margin-left: 3px;
}

#lowerHeader {
  font-size: 4rem;
  color: yellow;
  font-family: "Bangers", cursive;
}

#city-name {
  font-size: 4rem;
}

.boxFont {
  font-size: 2rem;
}

#weatherIcon {
  float: right;
  width: 300px;
  height: 300px;
  border: none;
  box-sizing: inherit;
}

.low {
  background-color: green;
  color: black;
}

.moderate {
  background-color: yellow;
  color: black;
}

.high {
  background-color: orange;
  color: black;
}

.very-high {
  background-color: red;
  color: black;
}

#result-uv-index {
  width: 20rem;
}
